body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #f3cd9b;
  }
  
  h1, h3, h4 {
    color: #333333;
    margin-top: 60px;
    font-weight: bold;
  }


  h1 {
    font-size: 50px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 40px auto;
    border: 10px solid #EE6C4D;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 40px auto;
    display: inline-block;
  }
  
  li {
    display: block;
    margin: 20px 0;
  }
  
  ol {
    list-style: decimal;
    padding: 0 40px;
    margin: 40px auto;
    text-align: center;
  }
  
  .recipe-list li a, .nav-list li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
  }
  
  .nav-list {
    text-align: left;
  }
  
  .nav {
    background-color: #EE6C4D;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }

  .navE {
    background-color: #a28f8a;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }

  .nav:hover {
    background-color: #FFFFFF;
    color: #EE6C4D;
    cursor: pointer;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  }
  

  .navE:hover {
    background-color: #FFFFFF;
    color: #EE6C4D;
    cursor: pointer;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  }
  

  #heading {
    text-align: center;
    margin-bottom: 60px;
  }
  
  #intro {    
    font-size: larger;
    color: #777777;
    line-height: 1.5;
  }